{% extends 'bases.html' %}

{% block content %}
<h2>Asistente IA 🤖</h2>
<form method="post">
  {% csrf_token %}
  <label for="pregunta">Selecciona tu pregunta:</label><br>
  <select name="pregunta" required>
    <option value="">-- Elige una pregunta --</option>
    <option value="¿Cómo creo un nuevo usuario?">¿Cómo creo un nuevo usuario?</option>
     <option value="¿Cómo agrego un nuevo empleado?">¿Cómo agrego un nuevo empleado?</option>
     <option value="¿En donde veo el nuevo empleado que agregue?">¿En donde veo el nuevo empleado que agregue?</option>
  </select><br><br>
  <button type="submit">Ver respuesta</button>
</form>

{% if respuesta %}
<h3>Respuesta:</h3>
<div style="padding:10px; background:#f4f4f4; border-radius:5px;">
  {{ respuesta }}
</div>
{% endif %}
{% endblock %}



